.row
  .span8{style: "float: none; margin: 0 auto;"}
    %h1
      = @product.name
    %h2 
      = @product.gtin
    %br
      = link_to root_path(), class: 'btn btn-large btn-primary icon pull-left' do
        %i.icon-chevron-left 
        Go back home
    %br
      %hr
        %h2
          Product Sellers
        - @product.product_sellers.each do |product_seller|
        
          .row
            .span8{style: "float: none; margin: 0 auto;"}
              .well
                .row
                  .span8
                    %h3
                      %strong
                        = product_seller.name
                      %a{:href => product_seller.url, :class => 'btn btn-middle btn-success icon pull-right'}
                        Buy it now!
                .row
                  .span1
                    = raw @product.image
                  .span3
                    %h2.muted
                      %strong
                        = product_seller.base_price
                    -if !product_seller.total_price.nil?
                      %h2.muted
                        %strong
                          = product_seller.total_price
                  .span2
                    = raw product_seller.rating
                  .span2
                    Condition
                    .muted
                      = product_seller.condition
                  .span1
                    = product_seller.tax
                  .span6
                    %p
                      = raw product_seller.description
                    

                    

                .row
                  .span8
                    %p
                    %p
                      %i.icon-user
                      by
                      %a{:href => "#"} mcka1n
                      |
                      %i.icon-calendar
                      = product_seller.updated_at
                      |
                      %i.icon-tags
                      Tags :
                      %a{:href => "#"}
                        %span.label.label-info
                          = @product.gtin                     
          

  